<!DOCTYPE html>
<html>
<head>
  <title>Knp</title>
  <%= stylesheet_link_tag    "knp/application", :media => "all" %>
  <%= javascript_include_tag "knp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
